$primary-dark-violet: hsl(256, 26%, 20%);
$primary-grayish-blue: hsl(216, 30%, 68%);

$neutral-dark-violet: hsl(270, 9%, 17%);
$neutral-dark-grayish-violet: hsl(273, 4%, 51%);
$neutral-light-gray: hsl(0, 0%, 98%);

$font-size: 16px;
$ff-heading: "DM Serif Display", serif;
$ff-primary: "Karla", sans-serif;
$fw-400: 400;
$fw-600: 600;
